body {
    background: #574949;
}

div.container {
    background: #ffffff;
    height: 100%;
}

pre.hello {
  background: white;
  color: lightgray;
  line-height: 1.2;
}

s {
  background: orange;
  color: gray;
  text-decoration: none;
}
